---
http_interactions:
- request:
    method: get
    uri: http://dataservice.accuweather.com/currentconditions/v1/327146/historical/24?apikey=<ACCUWEATHER_APIKEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Limit:
      - '50'
      Ratelimit-Remaining:
      - '32'
      Akamai-Grn:
      - 0.bd74d917.1668073253.4e1943ec
    body:
      encoding: UTF-8
      string: '[{"LocalObservationDateTime":"2022-11-10T00:58:00-08:00","EpochTime":1668070680,"WeatherText":"Clear","WeatherIcon":33,"HasPrecipitation":false,"PrecipitationType":null,"IsDayTime":false,"Temperature":{"Metric":{"Value":7.4,"Unit":"C","UnitType":17},"Imperial":{"Value":45.0,"Unit":"F","UnitType":18}},"MobileLink":"http://www.accuweather.com/en/us/riverside-ca/92506/current-weather/327146?lang=en-us","Link":"http://www.accuweather.com/en/us/riverside-ca/92506/current-weather/327146?lang=en-us"},{"LocalObservationDateTime":"2022-11-09T23:59:00-08:00","EpochTime":1668067140,"WeatherText":"Clear","WeatherIcon":33,"HasPrecipitation":false,"PrecipitationType":null,"IsDayTime":false,"Temperature":{"Metric":{"Value":7.8,"Unit":"C","UnitType":17},"Imperial":{"Value":46.0,"Unit":"F","UnitType":18}},"MobileLink":"http://www.accuweather.com/en/us/riverside-ca/92506/current-weather/327146?lang=en-us","Link":"h[...]
